/*==================================
General Structure
==================================*/

body.page-template-about {
    background: $black;
}

section.about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $black;
    padding: 0 20px;
    height: 100vh;
    display: none;
    overflow: hidden;
    z-index: 90;

    @include tablet_landscape {
        height: auto;
        padding: 0 20px 20px;
    }
}

.about_page_container {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet_landscape {
        padding-top: 20px;
    }
}

.about_bordered_content {
    position: relative;
    width: 100%;
    height: 0%;
    border: 1px solid $white;
    opacity: 0;
    color: $teal;
    margin: 0px auto;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet_landscape {
        padding: 20px;
    }
}

.about_content_container {
    max-width: 1100px;
    margin: 0 auto;
}

/*==================================
Fonts
==================================*/

.about_page_container {
    p, h1 {
        margin-bottom: 0;
    }
}

.about_page_container h1 {
    font-size: 60px;
    line-height: 65px;
    opacity: 0;

    @include tablet_landscape {
        margin-bottom: 20px;
    }

    @include mobile_landscape {
        font-size: 30px;
        line-height: 35px;
    }

    @include desktop {
        font-size: 80px;
        line-height: 80px;
    }
}

.about_page_container p {
    margin-top: -50px;
    opacity: 0;
}

/*==================================
Grid Adjustments
==================================*/

.about_page_container .column_1_2 {
    margin-bottom: 0;

    @include tablet_landscape {
        width: 100%;
    }
}

/*==================================
Left Half
==================================*/

.about_left_half {
	text-align: right;
    @include tablet_landscape {
        text-align: left;
    }
}

/*==================================
Right Half
==================================*/

.about_right_half {
    display: flex;
    align-items: center;
}

/*==================================
Close Icon
==================================*/

.about .close_icon {
    opacity: 0;
    margin-top: 30px;

    &:hover {
        &::before, &::after {
          background: $teal;
        }
    }

    &::before, &::after {
        background: $teal;
    }
}

/*==================================
Static Page Adjustments
Page accesible on mobile devices.
==================================*/

.about_page section.about {
    display: block;
    position: relative;
}

.page-template-about .about_bordered_content {
    opacity: 1;
    height: 90%;
    border: 1px solid $teal;

    @include tablet_landscape {
        height: auto;
    }
}

.page-template-about .about_page_container h1 {
    opacity: 1;
}

.page-template-about .about_page_container p {
    margin-top: 0px;
    opacity: 1;
}