/*==================================
General Structure
==================================*/

section.connect {
	position: fixed;
	background: $black;
    right: 0;
    width: 0%;
    overflow: hidden;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*==================================
Fonts
==================================*/

.connect_page_top {
    margin-bottom: 100px;
}

.page_opacity_overlay {
    position: fixed;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($teal,.5);
    z-index: 50;
}

/*==================================
Email Styling Effects
==================================*/

a.connect_email {
    display: block;
    position: relative;
    color: $black;
    padding: 0 10px;
}

// Teal Bar that appears on load

.connect_email_line {
    position: absolute;
    bottom: 4px;
    z-index: -1;
    left: 0;
    background: rgba($teal, .8);
    display: block;
    width: 0%;
    height: 100%;
}

// White Bar that appears on hover

.connect_email:after {
    content: "";
    position: absolute;
    bottom: 4px;
    z-index: -1;
    left: 0;
    background: rgba($white, 1);
    display: block;
    width: 0%;
    height: 100%;
    transition: width .5s ease-in-out;
}

a.connect_email:hover:after {
    width: 100%;
}

/*==================================
Social
==================================*/

.connect_page_container ul.social_icons {
    opacity: 0;
    margin-right: -50px;
}

ul.social_icons li {
    display: inline-block;
    margin: 0 10px;
    font-size: 25px;
}

ul.social_icons li a {
    color: $white;

    &:hover {
        color: $teal;
    }
}