/*==================================
Structure
==================================*/

main.main_wrapper.home {
    height: 100vh;
    background-size: cover;
    background-position: center;

    @include tablet_landscape {
    	height: 100%;
    	min-height: 100vh;
    }
}

/*==================================
Panels
==================================*/

.humbleriot_panels {
	position: relative;
	display: flex;
	height: 100%;

	&:before {
		@include overlay(rgba($black,.5));
	}

	@include tablet_landscape {
		display: none;
	}
}

.humbleriot_panels.leaving:before {
	display: none;
}

/*==================================
General Panel
==================================*/

.panel {
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3%;
	opacity: 0;
	padding-top: 150px;
}

// Big Title Image SVG's

.panel img {
	max-width: none;
	transition: opacity .3s ease-in-out, transform .5s ease-in-out;
}

.panel.left img, .panel.right img {
    width: 180px;
}

.panel.center img {
    width: 410px;
}

.panel svg {
	max-width: none;
	transition: opacity .3s ease-in-out, transform .5s ease-in-out;
}

.panel.left svg, .panel.right svg {
    width: 180px;
}

.panel.center svg {
    width: 410px;
}

// Set max-widths of panel content

.panel.left .panel_content_container, .panel.right .panel_content_container {
    max-width: 300px;
}

.panel.center .panel_content_container {
    max-width: 450px;
}

/*==================================
Left Panel
==================================*/

.panel.left {
	left: 0;
	width: 30%;
	text-align: left;
	align-items: flex-start;
	z-index: 9;
}

/*==================================
Center Panel
==================================*/

.panel.center {
	left: 30%;
	bottom: 0;
	width: 40%;
	text-align: center;
	align-items: center;
	background-color: rgba(255,255,255,0);
	transition: background-color .5s ease-in-out;
}

/*==================================
Right Panel
==================================*/

.panel.right {
	left: 70%;
	width: 30%;
	text-align: right;
	align-items: flex-end;
}

/*==================================
Descriptions
==================================*/

p.content {
	color: $white;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}

/*==================================
Background Images
==================================*/

.panel_background_images {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	@include tablet_landscape {
		display: none;
	}
}

.panel_background_images div {
	opacity: 0;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}

/*==================================
Panel Title Hover Effects
==================================*/

// Image/Content transition

.panel_content_container:hover img {
	transform: translateY(-15px);
	transition: transform .7s ease-in-out;
}

.panel_content_container:hover p.content {
	max-height: 300px;
	backface-visibility: hidden;
	opacity: 1;
	transition: all .7s ease-in-out;
}

// Ensure other panels fade out appropriatley

.humbleriot_panels.music_curation {
	.panel.center svg, .panel.right svg {
		opacity: 0;
	}
}

.humbleriot_panels.cultural_programming {
	.panel.left svg, .panel.right svg {
		opacity: 0;
	}
}

.humbleriot_panels.social_impact {
	.panel.left svg, .panel.center svg {
		opacity: 0;
	}
}

/*==================================
Mobile Homepage
==================================*/

.mobile_homepage {
	display: none;

	@include tablet_landscape {
		display: block;
		min-height: 100vh;
	}
}

// Panels

section.mobile_homepage_panel {
    color: $white;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 1px solid $white;
    background: rgba(0,0,0,.5);
    min-height: 33.33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.mobile_homepage_panel p {
	margin-bottom: 0;
}