/*==================================
Structure
==================================*/

main.main_wrapper.people {
    height: 100vh;
    padding-top: 100px;

    @include tablet_landscape {
    	padding-top: 20px;
    }
}

.people .container {
	display: flex;
	height: 100%;

	@include tablet_landscape {
		flex-flow: row wrap;
	}
}

/*==================================
Border
==================================*/

span.people_border {
    height: 0%;
    width: 1px;
    background: $white;

    @include tablet_landscape {
    	display: none;
    }
}

/*==================================
Artists
==================================*/

.people_artists {
	width: 70%;
	height: 100%;
    overflow-y: auto;
	opacity: 1;
	@include scrollbar(rgba(255,255,255,.2), $black);

	@include tablet_landscape {
		order: 1;
		padding: 0;
		width: 100%;
		height: auto;
	}
}

// Adjustment to standard grid

.people_artists .humbleriot_row {
	width: 100%;
	margin: 0;
}

// Individual Artist Block

.artist_block {
    position: relative;
    opacity: 0;
}

// Initial positioning of artist blocks for the fade in transition

.people_artists .column_1_3:nth-child(3n + 1) .artist_block {
	margin-top: -30px;
}

.people_artists .column_1_3:nth-child(3n + 2) .artist_block {
	margin-top: 30px;
}

.people_artists .column_1_3:nth-child(3n + 3) .artist_block {
	margin-top: -30px;
}

.artist_name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($teal, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    color: $white;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.artist_name span {
	transform: translateY(20px);
	text-transform: uppercase;
	transition: transform .8s ease-in-out;
	@include league_gothic;
}

// Hover effect on artist block

.artist_block:hover .artist_name {
	opacity: 1;
}

.artist_block:hover .artist_name span {
	transform: translateY(0);
}

/*==================================
Clients
==================================*/

.people_clients {
	width: 30%;
	padding-left: 30px;
	list-style: none;
	padding-top: 50px;
	opacity: 0;
	height: 100%;
    overflow-y: auto;
	@include scrollbar(rgba(255,255,255,0), $white);

	@include tablet_landscape {
		width: 100%;
		height: auto;
		padding: 0 0 20px;
    	text-align: center;
	}
}

// Client name

.people_clients li {
    text-transform: uppercase;
    margin-bottom: 10px;

    @include tablet_landscape {
		display: inline-block;
		margin: 0 20px 20px;
	}

	@include tablet {
		margin: 0 10px 10px;
	}

	@include mobile_landscape {
		margin: 0 5px 5px;
	}
}

.people_clients li:last-child {
	margin-bottom: 50px;

	@include tablet_landscape {
		margin-bottom: 0;
	}
}