/*==================================
General Structure
==================================*/

.top_gradient, .bottom_gradient {
	position: fixed;
    width: 100%;
    height: 10vh;
}

.bottom_gradient {
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 99%,#fff 100%);
}

/*==================================
Projects Grid
==================================*/

.humbleriot_projects_grid {
    display: flex;
    flex-flow: row wrap;
    padding-top: 80px;

    @include tablet_landscape {
        padding-top: 0;
    }
}

.grid_item {
	width: 33.33%;
	padding: 0 30px;
    margin-bottom: 50px;
    opacity: 0;

    @include tablet_landscape {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    @include tablet {
        width: 50%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.grid_item:nth-child(3n+2) {
    margin-top: 150px;
    align-self: flex-start;

    @include tablet_landscape {
        margin-top: 0;
    }
}

.grid_item_image_container {
    position: relative;
    display: block;
}

.grid_item img {
	display: block;
	width: 100%;
}

// Overlay

.grid_item_overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0%;
    opacity: 0;
    left: 0;
    background: $teal;
    transition: all .5s ease-in-out;
}

.grid_item h2 {
    position: absolute;
    margin-bottom: 0;
    opacity: 0;
    color: $white;
    transform-origin: top left;
    backface-visibility: hidden;
    transform: rotate(-90deg) translateX(10px) translateY(-12px);
    transition: all .5s ease-in-out;
}

// Hover reveal of overlay

.grid_item_image_container:hover {
    .grid_item_overlay {
        width: 73px;
        opacity: 1;
    }
    h2 {
        transform: rotate(-90deg) translateX(10px) translateY(18px);
        opacity: 1;
    }
}

// Set Elements original positions for page load transition in

.grid_item:nth-child(3n+1) {
    padding-top: 50px;
}

.grid_item:nth-child(3n) {
    padding-top: 150px;
}

.grid_item:nth-child(3n +2) {
    padding-top: 100px;
}