/*==================================
Structure
==================================*/

.single-project .container {
    opacity: 0;
    padding: 50px 0;
}

/*==================================
Header
==================================*/

header.single_project_header {
    position: relative;
    width: 100%;
    height: 100vh;
    // transform: scale(.7);
    // transition: transform .5s ease-in-out;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet_landscape {
        background-attachment: scroll;
    }
}

.single_project_header_overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 80%;
    height: 100px;
    background: rgba($white, .5);

    @include mobile_landscape {
        height: 50px;
    }
}

// Play Button

.play_button_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

button.play_button {
    border: 2px solid $white;
    opacity: 0;
    color: $white;
    font-family: 'league_gothic', sans-serif;
    text-transform: uppercase;
    padding: 10px 50px;
    letter-spacing: .1em;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        color: $black;
        background: $white;
    }
}

/*==================================
Title / Excerpt
==================================*/

.project_title {
	text-align: right;

    @include tablet {
        text-align: left;
    }
}

.project_title h1 {
    font-size: 96px;
    line-height: 90px;
    color: $white;
    -webkit-text-stroke: 1px $black;
    -moz-text-stroke: 1px $black;
    color: $white;

    @include tablet {
        font-size: 80px;
        line-height: 85px;
    }

    @include mobile_landscape {
        font-size: 60px;
        line-height: 65px;
    }
}

// Special text shadow hack for IE

.noTextStroke .project_title h1 {
    // Stroke generated from http://owumaro.github.io/text-stroke-generator/
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

/*==================================
Content
==================================*/

.project_content {
    text-align: center;
    padding: 50px 0px;
}

/*==================================
Video Popup
==================================*/

.project_video_container {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,.8);
}

.project_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_video .plyr, .project_video .plyr--ready {
    width: 80%;
}

.project_video .plyr--fullscreen-active {
    width: 100%;
}

// Controls Styling

.project_video {
    .plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
        background: $black;
    }
}