/*==================================
Main Header
==================================*/

header.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    @include tablet_landscape {
      display: none;
    }
}

// Logo

.main_header a.logo {
    position: relative;
    display: block;
    width: 65px;
}

.main_header a.logo img {
    display: block;
}

.main_header img.logo_black {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

// Dark Color Scheme 

.main_header.dark {
  img.logo_black {
    opacity: 1;
  }
  img.logo_white {
    opacity: 0;
  }
}

/*==================================
Main Navigation
==================================*/

.main_navigation ul {
    list-style: none;
}

.main_navigation li {
   font-weight: normal;
   display: inline-block;
   text-transform: uppercase;
   margin: 0 10px;
   font-size: 23px;
   letter-spacing: .1em;
   @include league_gothic;

   &:last-child {
    margin: 0 0 0 10px;
   }
}

.main_navigation li a {
   color: $white;
   transition: color .5s ease-in-out;

   &:hover {
    color: $teal;
   }
}

// Dark Color Scheme

.main_header.dark .main_navigation li a {
  color: $black;

  &:hover {
    color: $teal;
  }
}

// Current Menu Item Highlighted

.main_header .main_navigation li.current-menu-item a  {
  color: $teal;
}

/*==================================
Mobile Header
==================================*/

.mobile_header {
  display: none;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;

  @include tablet_landscape {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile_header.white {
  background: $white;
}

.mobile_header.black {
  background: $black;
}

// Logo

.mobile_header a.logo {
  position: relative;
  display: block;
  width: 60px;
}

.mobile_header a.logo img {
    display: block;
}

// Menu Icon

.menu_icon {
    position: relative;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    height: 14px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $black;
        position: absolute;
        top: 4px;
    }    
}

/*==================================
Mobile Navigation
==================================*/

.mobile_navigation {
  position: fixed;
  background: $black;
  top: 0;
  z-index: 101;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.mobile_navigation .content_container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Header Area

.mobile_header .close_icon {
  position: relative;
  top: 0;
  left: 0;
}

// Nav links

.mobile_navigation .menu li {
    margin-bottom: 10px;
}

.mobile_navigation a {
    font-family: 'league_gothic';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $white;
}

// Connect

.mobile_navigation_connect {
    margin-top: 30px;
}

.mobile_navigation_connect a {
    font-size: 20px;
    line-height: 20px;
}

.mobile_navigation_connect > a {
    margin-bottom: 20px;
    color: $teal;
    display: block;
}

