/*==================================
HELPERS
==================================*/

/*=== Colors ===*/

.white {
	color: $white;
}

/*=== Margins ===*/

.margin_bottom_0 {
	margin-bottom: 0px;
}

/*=== Fonts ===*/

.uppercase {
	text-transform: uppercase;
}

// Word Highlight

.word_highlight {
  background: $teal;
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul, ol {
	margin: 0px;
	padding: 0px;
}

/*=== Buttons ===*/

.color_button {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 50px;
	background: $white;
	color: $white;
}

.transparent_button {
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid;
	color: inherit;
}

/*=== Close Icon ===*/

.close_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 23px;
  height: 23px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $white;
      transform: rotate(0deg);
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}