/*==================================
WEBFONTS
==================================*/

// League Gothic

@font-face {
    font-family: 'league_gothic';
    src: url('../fonts/leaguegothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Sang Bleu

@font-face {
    font-family: 'sangbleu';
    src: url('../fonts/sangbleu/sangbleubptestfont-light-webfont.woff2') format('woff2'),
         url('../fonts/sangbleu/sangbleubptestfont-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*==================================
GENERAL FONTS
==================================*/

* {
    box-sizing: border-box;
}

body, p {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: .1em;
	font-family: 'sangbleu', serif;

	@include mobile_landscape {
		font-size: 14px;
		line-height: 20px;
	}
}

body {
	background-color: $white;
}

p {
	margin-bottom: 20px;
}

h1 {
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: .1em;
	@include league_gothic;

	@include tablet {
		font-size: 50px;
		line-height: 60px;
	}

	@include mobile_landscape {
		font-size: 40px;
		line-height: 45px;
	}
}

h2 {
	font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: .1em;
	@include league_gothic;
}

h3 {
	font-size: 14px;
	line-height: 17px;
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
	font-weight: normal;
}

a, a:visited, a:active, a:focus {
	color: $teal;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $black;
	}
}

// For SVG

.league_gothic {
	@include league_gothic;
}