/*==================================
Strucutre
==================================*/

.container {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

main.main_wrapper {
    @include tablet_landscape {
        margin-top: 50px;
    }
}

/*==================================
GRID
==================================*/

.humbleriot_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -10px;

    @include tablet_landscape {
        margin: 0;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
    margin: 0 0 20px;
    padding: 0 10px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include tablet {
    	width: 100%;
        padding: 0;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 50%;
    }

    /* @include mobile_landscape {
        width: 100%;
        padding: 0;
    } */
} 

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}