/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin desktop() {
	@media all and (min-width: 1400px){
		@content;
	}
}

/*================
FONTS
================*/

@mixin league_gothic() {
	font-family: 'league_gothic', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*================
SCROLLBAR
================*/

@mixin scrollbar($track, $thumb) {
	&::-webkit-scrollbar {
	    width: 3px;
	}
	 
	&::-webkit-scrollbar-track {
	    background: $track; 
	}
	 
	&::-webkit-scrollbar-thumb {
	    background: $thumb;  
	}
}